<div class="container">
  <h2>Consultar Festivos</h2>

  <!-- Consulta de si una fecha es festivo -->
  <mat-form-field appearance="outline">
    <mat-label>Ingresa una fecha</mat-label>
    <input matInput type="date" [(ngModel)]="fecha" />
  </mat-form-field>
  <button mat-raised-button color="black" (click)="esFestivo()">Consultar si es festivo</button>

  <hr />

  <!-- Consulta de festivos del año -->
  <h2>Obtener Festivos del Año</h2>
  <mat-form-field appearance="outline">
    <mat-label>Ingresa un año</mat-label>
    <input matInput type="number" [(ngModel)]="year" />
  </mat-form-field>
  <button mat-raised-button color="black" (click)="obtenerFestivosDelAno()">Consultar</button> <!-- Aquí también actualicé -->
  
  <!-- Lista de festivos -->
  <h3 *ngIf="festivosAnuales.length > 0">Festivos del año {{ year }}:</h3>
  <ul>
    <li *ngFor="let festivo of festivosAnuales">{{ festivo }}</li>
  </ul>
  <p *ngIf="festivosAnuales.length === 0 && year">No se encontraron festivos para el año ingresado.</p>
</div>
